// **** PAGE **** //
// ============== //

.about{
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    .card-student{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        h2, span{
            text-align: center;
            width: 100%;
            color: $color-white;
        }
        img{
            border-radius: 50%;
            width: 120px;
            height: 120px;
        }
    }
}