// **** HEADER **** //
// ================ //

header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 20px;
    z-index: 999;
    .lines{
        .line{
            position: relative;
            height: 1px;
            margin-bottom: 30px;
            background: $mainColor;
        }
        .l1 {
            width: 180px;
        }
        .l2 {
            width: 100px;
        }
        .l3{
            width: 60px;
        }
    }
}

.show-more{
    position: absolute;
    right: 50px;
    top: 85vh;
    transform: rotate(180deg);
}