// **** HEADER **** //
// ================ //

header{
    width: 100%;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .logo{
        margin-top: 60px;
        margin-left: 10px;
        width: 40px;
        opacity: 1;
    }

    .header-row {
        margin: 20px;
        @media screen and (max-width : 600px) {
            margin: 0;
        }
        .menu-toggle {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            .hamburger path {
                fill: none;
                stroke: $color-white;
            }
        }
    }
}

.fullpage-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    @media screen and (max-width : 700px) {
        width: 100%;
    }
    height: 100vh;
    display: none;
    margin: 0;
    z-index: 9;

    .fullpage-menu-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 100px 60px;

        .menu-bg {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(2.5px);
            opacity: 0;
        }
        nav {
            position: relative;
            z-index: 1;
            text-align: center;

            ul {
                list-style-type: none;
                li {
                    overflow: hidden;
                    margin-top: 30px;

                    &:hover{
                        span:before{
                            height: 100%;
                        }
                    }
                    a {
                        font-size: 15vh;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 700;
                        display: inline-block;
                        line-height: 1;
                        letter-spacing: 5px;
                        color: transparent;
                        -webkit-text-stroke: 1px #fff;

                        span {
                            position: relative;
                            display: block;
                            font-family: $font-exo;
                            font-size: 35px;
                            z-index: 99;
                        }
                        span:before {
                            content: attr(data-clip);
                            color: transparent;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-image: linear-gradient(135deg, #fad961 0%, #f76b1c 50%,  #DC143CFF 100%);
                            -webkit-text-stroke: 3px transparent;
                            -webkit-background-clip: text;
                            z-index: 1;
                            height: 0;
                            overflow: hidden;
                            transition: .3s linear 0s;
                        }
                    }
                }
                .li1:hover ~ .bg1,
                .li2:hover ~ .bg2,
                .li3:hover ~ .bg3,
                .li4:hover ~ .bg4{
                    opacity: 1;
                    transform: translateY(0%);
                }
                .bg{
                    position: absolute;
                    filter: grayscale(1);
                    mix-blend-mode: difference;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    .header-row{
        padding: 30px;
    }
    nav li a{
        font-size: 54px;
    }
}

.bg1{
    height: 150px;
    width: 300px;
    top: -80%;
    left: -50%;
    background: url(https://images.unsplash.com/photo-1621882722395-634daa391300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(-10%);
    transition: .3s ease-in-out;
}

.bg2{
    width: 200px;
    height: 300px;
    top: -10%;
    left: 100%;
    background: url(https://images.unsplash.com/photo-1551818567-d49550a81408?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(10%);
    transition: .3s ease-in-out;

}
.bg3{
    height: 300px;
    width: 135px;
    top: 80%;
    left: -70%;
    background: url(https://images.unsplash.com/photo-1554672723-60f4d5d5074f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(-10%);
    transition: .3s ease-in-out;

}
.bg4{
    height: 150px;
    width: 300px;
    top: 115%;
    left: 70%;
    background: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(10%);
    transition: .3s ease-in-out;

}