// **** HEADER **** //
// ================ //

header{
    width: 100%;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #121212da 0%, #12121291 70%, transparent 100%);
    z-index: 9;
    .logo{
        margin-top: 60px;
        margin-left: 10px;
        width: 40px;
        opacity: 1;
    }

    .header-row {
        .menu-toggle {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            .hamburger path {
                fill: none;
                stroke: $color-white;
            }
        }
    }
}

.fullpage-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    @media screen and (max-width : 700px) {
        width: 100%;
    }
    height: 100vh;
    display: none;
    margin: 0;
    z-index: 98;

    .fullpage-menu-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 100px 60px;

        .menu-bg {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(2.5px);
            opacity: 0;
        }
    }
}

@media screen and (max-width:767px) {
    .header-row{
        padding: 30px;
    }
    nav li a{
        font-size: 54px;
    }
}

.bg1{
    height: 150px;
    width: 300px;
    top: -80%;
    left: -50%;
    background: url(https://images.unsplash.com/photo-1621882722395-634daa391300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(-10%);
    transition: .3s ease-in-out;
}

.bg2{
    width: 200px;
    height: 300px;
    top: -10%;
    left: 100%;
    background: url(https://images.unsplash.com/photo-1551818567-d49550a81408?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(10%);
    transition: .3s ease-in-out;

}
.bg3{
    height: 300px;
    width: 135px;
    top: 80%;
    left: -70%;
    background: url(https://images.unsplash.com/photo-1554672723-60f4d5d5074f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(-10%);
    transition: .3s ease-in-out;

}
.bg4{
    height: 150px;
    width: 300px;
    top: 115%;
    left: 70%;
    background: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateX(10%);
    transition: .3s ease-in-out;

}