// **** NAV **** //
// ============= //

.nav-about{
    .back-home{
        z-index: 999;
        cursor: pointer;
        position: absolute;
        top: 30px;
        left: 30px;
        @media screen and (max-width : 700px) {
            top: 10px;
            left: 10px;
        }
        img{
            width: 50px;
        }
    }
}
