// **** SECTION **** //
// ================= //

.section {
    width: 100%;
    height: auto;
    min-height: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    @media screen and (max-width : 700px) {
        padding: 50px;
        justify-content: flex-start;
        height: max-content;
    }
    h2{
        align-self: flex-start;
        @media screen and (max-width : 700px) {
            align-self: center;
        }
    }
    p{
        font-family: $font-exo;
        color: $color-white;
        width: 60%;
        @media screen and (max-width : 1000px) {
            width: 70%;
        }
        @media screen and (max-width : 700px) {
            width: 90%;
        }
        &:nth-child(2){
            align-self: center;
            margin: 50px 0;
        }
        &:nth-child(3){
            align-self: flex-end;
            @media screen and (max-width : 700px) {
                align-self: center;
            }
        }
    }
}

.title, .text1, .text2{
    opacity: 0;
    transform: translateY(-30px);
}

.section-probleme{
    background: $color-red;
}
.section-solution{
    background: $color-orange;
}
#conclusion{
    background: #121212;
}
