// **** VARIABLES **** //
// =================== //

$mainColor: #333;
$secondColor: #fff;
$mainFont: 'Abril Fatface', cursive;
$secondFont: 'Source Sans Pro', sans-serif;

// :root {
    // --variable: ...;
    // --variable: ...;
// }