// **** FUNCTIONS **** //
// =================== //

@keyframes show-burger {
    to{
        padding-top: 10px;
    }
}

@keyframes drop-anim {
    from{
        top: -110%;
    }
    to{
        bottom: 130%;
    }
}