// **** VARIABLES **** //
// =================== //

// Main colors
$color-white: #fff;
$color-black: #333;
$color-grey: #ffffff4d;
$color-main: linear-gradient(0.25turn, orange 0%,  #d9143b 100%);
$color-second: #d9143b;
$color-orange: orange;
$color-intermediate: #f76b1c;
$color-red: #d90930;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-exo: 'Exo', sans-serif;
$font-roboto-bold: 'Roboto', bolder;
$font-roboto-light: 'Roboto', lighter;

// // Validate colors
// $bg-alerte: #ff0000;
// $bg-succes: #008000;

// // Texts colors
// $txt-light: #000000;
// $txt-dark: #808080;

// // Dimensions / Position
// $radius-xl: 20px;
// $radius-m: 10px;
// $radius-xs: 5px;