// **** BURGER **** //
// ================ //

.burger-carre{
    @include size(50px, 50px);
    border: 2px solid $mainColor;
    cursor: pointer;
    .burger-circle{
        @include size(100%, 100%);
        border: 2px solid $mainColor;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        .burger-lines{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transform: rotate(45deg);
            transition: 0.3s;
            .burger-line{
                position: absolute;
                @include size(32px, 32px);
                border-top: 2px solid $mainColor;
                border-bottom: 2px solid $mainColor;
                transition: 0.3s;
                &:nth-child(1){
                    transform: rotate(90deg);
                }
            }
        }
    }
    &:hover{
        .burger-lines{
            .burger-line{
                border-top: 1px solid $mainColor;
                border-bottom: 1px solid $mainColor;
                @include size(69px, 0);
            }
        }
    }
}