// **** CURSOR **** //
// ================ //

.new-cursor {
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: 2px solid $color-grey;
    border-radius: 50%;
    position: absolute;
    animation: Anim1 1s infinite alternate;
    pointer-events: none;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 5px;
        height: 5px;
        background: $color-white;
        border-radius: 50%;
    }
    @media screen and (max-width : 400px) {
        display: none;
    }
}

.expand {
    animation: Anim2 .5s;
    background: transparent;
    border: 1px solid $color-white;
}

div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:#FFFFFF;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}
