@keyframes show-burger {
  to {
    padding-top: 10px;
  }
}
@keyframes drop-anim {
  from {
    top: -110%;
  }
  to {
    bottom: 130%;
  }
}
*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  background-color: #171717;
}

a {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
}
a::after {
  content: "";
  display: block;
  width: 0px;
  margin: 2px auto 0 auto;
  height: 2px;
  border-radius: 2px;
  background: white;
  transition: width 0.2s ease-out;
}
a:hover::after {
  width: 100%;
}

h2 {
  font-size: 3vw;
  color: white;
}

p {
  width: 500px;
  margin: 50px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: white;
}
p:nth-child(2) {
  align-self: center;
}
p:nth-child(3) {
  align-self: flex-end;
}

.nav-burger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-burger {
  display: none;
}

.nav-burger.active {
  display: block;
}
.nav-burger.active .item-nav-burger {
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none;
  font-size: 1.5rem;
  text-align: end;
  animation: show-burger 0.3s forwards;
}
.nav-burger.active .item-nav-burger a {
  text-decoration: none;
}

.burger-carre {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
}
.burger-carre .burger-circle {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-carre .burger-circle .burger-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(45deg);
  transition: 0.3s;
}
.burger-carre .burger-circle .burger-lines .burger-line {
  position: absolute;
  width: 32px;
  height: 32px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transition: 0.3s;
}
.burger-carre .burger-circle .burger-lines .burger-line:nth-child(1) {
  transform: rotate(90deg);
}
.burger-carre:hover .burger-lines .burger-line {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 69px;
  height: 0;
}

.bg-drop {
  z-index: -11;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.bg-drop .drop-line {
  opacity: 0.5;
  position: fixed;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  animation: drop-anim 7s 0s infinite;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.605) 75%, rgba(255, 255, 255, 0.557) 100%);
}
.bg-drop .drop-line:nth-child(1) {
  margin-left: -25%;
}
.bg-drop .drop-line:nth-child(1) {
  animation-delay: 2s;
}
.bg-drop .drop-line:nth-child(3) {
  margin-left: 25%;
}
.bg-drop .drop-line:nth-child(3) {
  animation-delay: 2.5s;
}

.nav-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-center .nav-menu {
  list-style-type: none;
}
.nav-center .nav-menu .item-nav {
  text-align: center;
}
.nav-center .nav-menu .item-nav a {
  font-size: 4vw;
  text-align: center;
  text-decoration: none;
  filter: blur(2px);
  transition: 0.6s;
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: white;
  font-family: "Abril Fatface", cursive;
}
.nav-center .nav-menu .item-nav a:hover {
  filter: blur(0px);
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 20px;
  z-index: 999;
}
header .lines .line {
  position: relative;
  height: 1px;
  margin-bottom: 30px;
  background: white;
}
header .lines .l1 {
  width: 180px;
}
header .lines .l2 {
  width: 100px;
}
header .lines .l3 {
  width: 60px;
}

.show-more {
  position: absolute;
  right: 50px;
  top: 85vh;
  transform: rotate(180deg);
}

section {
  margin: 150px 20vw;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
