@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100vh;
  background: #121212;
  margin: 0 auto;
  cursor: none;
}

body {
  overflow-x: hidden;
}

.txt-link {
  text-decoration: none;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.txt-link:hover {
  background: linear-gradient(0.25turn, orange 0%, #d9143b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
  list-style: none;
}

h1 {
  font-family: "Exo", sans-serif;
  color: #fff;
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}

h2 {
  font-family: "Exo", sans-serif;
  color: #fff;
  font-size: clamp(20px, 4vw, 100px);
}

p {
  color: #ffffff4d;
  font-family: "Exo", sans-serif;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #fff;
  font-family: "Exo", sans-serif;
  text-decoration: none;
}

button {
  padding: 14px 30px;
  border: none;
  color: #fff;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 300;
  cursor: pointer;
}

.btn-orange {
  background: linear-gradient(0.25turn, orange 0%, #d9143b 100%);
}

.btn-transparent {
  background: transparent;
  border: 1px solid #ffffff4d;
  margin: 0 10px 10px 0;
}

@keyframes progress {
  0% {
    display: block;
    stroke-dasharray: 0 100;
  }
  100% {
    display: none;
  }
}
.graph-insert {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.card-graph-percent {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-graph-percent p {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.5rem;
}
.card-graph-percent .circle-svg {
  width: 100px;
}
.card-graph-percent .circle-svg path.percent {
  stroke: #333;
  fill: none;
  stroke-width: 1;
  /* stroke-linecap: round; */
  animation: progress 1s ease-out forwards;
}
.card-graph-percent .circle-svg path.around {
  stroke-width: 0.1;
  stroke: #c4c4c4;
}

.graph-hover {
  border-bottom: 2px dotted white;
}

.new-cursor {
  z-index: 9999;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff4d;
  border-radius: 50%;
  position: absolute;
  animation: Anim1 1s infinite alternate;
  pointer-events: none;
}
.new-cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.expand {
  animation: Anim2 0.5s;
  background: transparent;
  border: 1px solid #fff;
}

@keyframes Anim1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes Anim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.about {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.about .card-student {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about .card-student h2, .about .card-student span {
  text-align: center;
  width: 100%;
  color: #fff;
}
.about .card-student img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.header-row {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}
@media screen and (max-width: 700px) {
  .header-row {
    top: -20px;
    right: -20px;
  }
}
.header-row .menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.header-row .menu-toggle .hamburger path {
  fill: none;
  stroke: #fff;
}

header {
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 15%;
  flex-direction: column;
  color: #fff;
}
@media screen and (max-width: 700px) {
  header {
    padding: 50px;
    justify-content: flex-start;
    height: max-content;
  }
}
header .logo {
  position: fixed;
  width: 40px;
  top: 20px;
  left: 20px;
}
@media screen and (max-width: 700px) {
  header .logo {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
  }
}
header .header-contain {
  width: 70%;
  min-width: 300px;
  max-width: 1000px;
}
header .header-contain p {
  margin: 30px 0;
}
header .scroll-button_bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  header .scroll-button_bottom {
    display: none;
  }
}
header .scroll-button_bottom .arrow-scroll-button {
  margin: 20px;
  width: 30px;
  height: 30px;
  border: 2px #fff;
  border-style: none solid solid none;
  transform: rotate(45deg);
}
header .scroll-button_bottom p {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Roboto", lighter;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.nav-about .back-home {
  z-index: 999;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}
@media screen and (max-width: 700px) {
  .nav-about .back-home {
    top: 10px;
    left: 10px;
  }
}
.nav-about .back-home img {
  width: 50px;
}

.fullpage-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  display: none;
  margin: 0;
  z-index: 98;
}
.fullpage-menu .fullpage-menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 100px 60px;
}
.fullpage-menu .fullpage-menu-inner .menu-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2.5px);
  opacity: 0;
}
.fullpage-menu .fullpage-menu-inner nav {
  position: relative;
  z-index: 1;
  text-align: center;
}
.fullpage-menu .fullpage-menu-inner nav ul {
  list-style-type: none;
}
.fullpage-menu .fullpage-menu-inner nav ul li {
  overflow: hidden;
  margin-top: 30px;
}
.fullpage-menu .fullpage-menu-inner nav ul li:hover span:before {
  height: 100%;
}
.fullpage-menu .fullpage-menu-inner nav ul li a {
  font-size: 15vh;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.fullpage-menu .fullpage-menu-inner nav ul li a span {
  position: relative;
  display: block;
  font-family: "Exo", sans-serif;
  font-size: 35px;
  z-index: 99;
}
.fullpage-menu .fullpage-menu-inner nav ul li a span:before {
  content: attr(data-clip);
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(135deg, #fad961 0%, #f76b1c 50%, #DC143CFF 100%);
  -webkit-text-stroke: 3px transparent;
  -webkit-background-clip: text;
  z-index: 1;
  height: 0;
  overflow: hidden;
  transition: 0.3s linear 0s;
}
.fullpage-menu .fullpage-menu-inner nav ul .li1:hover ~ .bg1,
.fullpage-menu .fullpage-menu-inner nav ul .li2:hover ~ .bg2,
.fullpage-menu .fullpage-menu-inner nav ul .li3:hover ~ .bg3,
.fullpage-menu .fullpage-menu-inner nav ul .li4:hover ~ .bg4 {
  opacity: 1;
  transform: translateY(0%);
}
.fullpage-menu .fullpage-menu-inner nav ul .bg {
  position: absolute;
  filter: grayscale(1);
  mix-blend-mode: difference;
}

@media screen and (max-width: 767px) {
  .header-row {
    padding: 30px;
  }

  nav li a {
    font-size: 54px;
  }
}
.bg1 {
  height: 150px;
  width: 300px;
  top: -80%;
  left: -50%;
  background: url(https://images.unsplash.com/photo-1621882722395-634daa391300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateX(-10%);
  transition: 0.3s ease-in-out;
}

.bg2 {
  width: 200px;
  height: 300px;
  top: -10%;
  left: 100%;
  background: url(https://images.unsplash.com/photo-1551818567-d49550a81408?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateX(10%);
  transition: 0.3s ease-in-out;
}

.bg3 {
  height: 300px;
  width: 135px;
  top: 80%;
  left: -70%;
  background: url(https://images.unsplash.com/photo-1554672723-60f4d5d5074f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateX(-10%);
  transition: 0.3s ease-in-out;
}

.bg4 {
  height: 150px;
  width: 300px;
  top: 115%;
  left: 70%;
  background: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateX(10%);
  transition: 0.3s ease-in-out;
}

.section {
  width: 100%;
  height: 100vh;
  min-height: min-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}
@media screen and (max-width: 700px) {
  .section {
    padding: 50px;
    justify-content: flex-start;
    height: max-content;
  }
}
.section h2 {
  align-self: flex-start;
}
@media screen and (max-width: 700px) {
  .section h2 {
    align-self: center;
  }
}
.section p {
  font-family: "Exo", sans-serif;
  color: #fff;
  width: 60%;
}
@media screen and (max-width: 1000px) {
  .section p {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .section p {
    width: 90%;
  }
}
.section p:nth-child(2) {
  align-self: center;
  margin: 50px 0;
}
.section p:nth-child(3) {
  align-self: flex-end;
}
@media screen and (max-width: 700px) {
  .section p:nth-child(3) {
    align-self: center;
  }
}

.title, .text1, .text2 {
  opacity: 0;
  transform: translateY(-30px);
}

#stress {
  background: orange;
}

#sol_stress {
  background: #f76b1c;
}

#fatigue {
  background: #d90930;
}

#sol_fatigue {
  background: orange;
}

#argent {
  background: #f76b1c;
}

#sol_argent {
  background: #d90930;
}

#ccl {
  background: #121212;
}

.semicolon {
  width: 10px;
  vertical-align: text-top;
}

/*# sourceMappingURL=main.css.map */
