/* Error: expected "{".
 *     ,
 * 130 | >>>>>>> 3986cd7a297dc6469d02b10767bbea963a722537
 *     |                                                 ^
 *     '
 *   assets/style/scss/sections/_header.scss 130:49  @import
 *   assets/style/scss/main.scss 24:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 130 \2502  >>>>>>> 3986cd7a297dc6469d02b10767bbea963a722537\a     \2502                                                  ^\a     \2575 \a   assets/style/scss/sections/_header.scss 130:49  @import\a   assets/style/scss/main.scss 24:9                root stylesheet';
}
