// **** RESET **** //
// =============== //
*, *::after, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #121212;
    margin: 0 auto;
}