// **** TYPO **** //
// ============== //


.txt-link{
    text-decoration: none;
    font-family: $font-exo;
    font-size: 20px;
    cursor: pointer;
    color: $color-white;
    
    &:hover{
        background: $color-main;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

li{
    list-style: none;
}
h1{
    font-family: $font-exo;
    color: $color-white;
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
}
h2{
    font-family: $font-exo;
    color: $color-white;
    font-size: clamp(20px, 4vw, 100px);
}
p{
    color: $color-grey;
    font-family: $font-exo;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}
a{
    color: $color-white;
    font-family: $font-exo;
    text-decoration: none;
}