// **** TYPO **** //
// ============== //

a{
    color: $mainColor;
    font-family: $secondFont;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    &::after{
        content: "";
        display: block;
        width: 0px;
        margin: 2px auto 0 auto;
        height: 2px;
        border-radius: 2px;
        background: $mainColor;
        transition: width 0.2s ease-out;
    }
    &:hover::after{
        width: 100%;
    }
}

h2{
    font-size: 3vw;
    color: $mainColor;
}

p{
    width: 500px;
    margin: 50px 0;
    font-family: $secondFont;
    font-size: 2em;
    color: $mainColor;
    &:nth-child(2){
        align-self: center;
    }
    &:nth-child(3){
        align-self: flex-end;
    }   
}